<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面</title>
</head>
<body>
    <div>
        < img src="images/logo@3x.png" alt="logo">
        <div style="font-size:12px ;
        font-family:SimSun-ExtB">精于心·简于形</div>
        <div style="font-size:12px ;

        font-family:SimSun-ExtB">
        <ul type="none">
           <tr>团队概况</tr>
           <tr>案例展示</tr>
           <tr>服务项目</tr>
           <tr>最新情报</tr>
           <tr>客户伙伴</tr>
           <tr>新闻动态</tr>
           <tr>联系我们</tr>
        </ul>
        </div>

        <div>
            <div style="font-size:14px ;  font-family:simheittf">做最好的杯子/一切为了客户</div>
            <div style="font-size:14px ;  font-family:simheittf">请输入关键字</div>
        </div>

        <div style="position: relative;">
            <div style="position: absolute">
            < img src="images/大箭头左@3x.png" alt="大箭头左">
            < img src="images/大箭头右@3x.png" alt="大箭头右">
            < img src="images/滚动按钮@3x.png" alt="滚动按钮">
            < img src="images/矩形4@3x.png" alt="选中">
            </div>
            < img src="images/banner@3x.png" alt="banner">
        </div>

    </div>


    <div style="font-size: 16px">
        <ul STYLE="none">
            <tr >【塑造品牌/视觉整合】</tr>
            <tr>【新闻动态】</tr>
        </ul>
    </div>

    <div style="font-size: 12px">
    若想了解更多信息或者需要与我们合作的话，请直接与我们联系，做更深层次的沟通。为您解难。相关专业的咨询服务，感谢您的光临！
    </div>

    <table style="font-size: 12px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
             </tr>
    </table>

    

</body>
</html>